.nav-tabs {
    background: $dark-bg-gradient;
    border-bottom: 1px solid $border-color;
    border: 0 !important;
    margin: 0 !important;
    padding: .5rem !important;
    font-size: small !important;
    z-index: 1035;
    -webkit-app-region: drag;
    height: $navtabsHeight !important;
    
    &.fixed-top {
        padding-bottom: 0 !important;

        .nav-add {
            margin-bottom: 4px !important;
        }
    }

    .nav-item {
        border: 0 !important;
        margin: 0 !important;
        font-size: small !important;
    }

    .nav-link {
        border-top-left-radius: $border-radius-lg !important;
        border-top-right-radius: $border-radius-lg !important;
        color: $secondary;
        padding: .25rem .75rem;
        margin-right: 4px !important;
        height: 32px !important;
        border: 0 !important;
        -webkit-app-region: no-drag;
        line-height: 24px !important;
        outline: none !important;

        &:focus {
            outline: none !important;
            box-shadow: none !important;
        }

        &:not(.nav-add, .nav-link-menu) {
            width: 200px !important;
        }

        &:hover,
        &:active {
            color: $light !important;
        }

        &.active {
            background-color: transparent !important;
            color: $light !important;
            background-color: $dark-bg-accent !important;
        }

        &.nav-link-menu {
            background-color: $primary;
            color: $dark !important;
            font-weight: 600;
        }

        &.nav-add {
            border-radius: $border-radius-lg !important;
            padding: 0 !important;
            width: 28px !important;
            height: 28px !important;

            &:hover {
                background-color: $dark-bg-accent !important;
            }
        }
    }

    &.fixed-bottom {
        padding-top: 0 !important;

        .nav-add {
            margin-top: 4px !important;
        }

        .nav-link:not(.nav-add) {
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            border-bottom-left-radius: $border-radius-lg !important;
            border-bottom-right-radius: $border-radius-lg !important;
            
            &.active,
            &:hover {
                border-bottom: 1px solid $dark-bg-accent !important;
            }
        }

    }

    .btn-electron {
        color: var(--bs-secondary);
        -webkit-app-region: no-drag;
        height: $navtabsHeight;

        &:hover,
        &:active {
            color: $dark !important;
            background-color: $primary !important;
        }

        &.close:hover,
        &.close:active {
            color: $primary !important;
            background-color: $danger !important;
        }

        &:first-child {
            border-top-left-radius: 0 !important;
        }

        &:last-child {
            border-bottom-right-radius: 0 !important;
        }
    }
}

.nav-add:disabled {
    color: $text-muted !important;
}
