.pop-menu {
    position: absolute;
    z-index: 1045 !important;
    pointer-events: all;
    transform: translate(-50%, 10px);
    
    .pop-menu-body {
        background: $dark-bg-accent;
        box-shadow: $box-shadow-lg;
        border: 1px solid $border-color;
        border-radius: $border-radius-lg;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        &:has(.comment-input) {
            background-color: $warning-bg-subtle !important;
        }

        .comment-editor {
            min-width: 320px;
            padding: 8px;
        }

        .comment-author-input,
        .comment-input {
            background-color: transparent !important;
            color: $warning-text-emphasis !important;
            border: none !important;
            box-shadow: none !important;
            min-width: 280px;
            padding-top: 2rem;
        }

        .comment-input {
            min-height: 160px;
            resize: none !important;
        }

        .comment-label {
            color:  $warning-text-emphasis !important;
            font-weight: bold;
            height: auto;

            &::after {
                background-color: $warning-bg-subtle !important;
            }
        }
    }

    .btn-pop-menu {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        font-size: 18px;
        text-align: center;
        border-radius: $border-radius-lg;
        color: $secondary !important;
        text-decoration: none !important;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1) !important;
            color: $light !important;
        }
    }
}