@use "variables" as *;
.nav-tabs {
    background: $dark-bg-gradient;
    border-bottom: 1px solid $border-color;
    border: 0 !important;
    margin: 0 !important;
    font-size: small !important;

    .nav-item {
        border: 0 !important;
        margin: 0 !important;
        font-size: small !important;
    }

    .nav-link {
        border-top-left-radius: var(--bs-border-radius-lg) !important;
        border-top-right-radius: var(--bs-border-radius-lg) !important;
        color: var(--bs-secondary);
        padding: .25rem .75rem;
        border-bottom: 0 !important;

        &:not(.nav-add) {
            width: 200px !important;
        }

        &:hover,
        &:active {
            color: $primary !important;
        }

        &.active {
            background-color: transparent !important;
            color: $primary !important;
            border-color: $primary !important;
        }
    }
}

.nav-add:disabled {
    color: var(--bs-secondary) !important;
}
