.nav-tabs {
    background: $dark-bg-gradient;
    border-bottom: 1px solid $border-color;
    border: 0 !important;
    margin: 0 !important;
    padding: .5rem !important;

    font-size: small !important;
    z-index: 1035;
    -webkit-app-region: drag;

    .nav-item {
        border: 0 !important;
        margin: 0 !important;
        font-size: small !important;
    }

    .nav-link {
        border-top-left-radius: $border-radius-lg !important;
        border-top-right-radius: $border-radius-lg !important;
        color: var(--bs-secondary);
        padding: .25rem .75rem;
        margin-right: .25rem !important;
        height: 32px !important;
        border-bottom: 0 !important;
        -webkit-app-region: no-drag;

        &:not(.nav-add, .nav-link-menu) {
            width: 200px !important;
        }

        &:hover,
        &:active {
            color: $primary !important;
            border-color: $primary !important;
        }

        &.active {
            background-color: transparent !important;
            color: $primary !important;
            border-color: $primary !important;
        }

        &.nav-link-menu {
            background-color: $primary;
            color: $dark !important;
            font-weight: 600;
        }

        &.nav-add {
            border-radius: 100% !important;
            padding: 0 !important;
            width: 32px !important;

            &:hover {
                border: 1px solid $primary !important;
            }
        }
    }

    &.fixed-bottom {
        .nav-link {
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            border-bottom-left-radius: $border-radius-lg !important;
            border-bottom-right-radius: $border-radius-lg !important;
            border-top: 0 !important;
            
            &.active:not(.nav-add),
            &:hover {
                border-bottom: 1px solid $primary !important;
            }
        }

    }

    .btn-electron {
        color: var(--bs-secondary);
        -webkit-app-region: no-drag;

        &:hover,
        &:active {
            color: $dark !important;
            background-color: $primary !important;
        }

        &.close:hover,
        &.close:active {
            color: $primary !important;
            background-color: $danger !important;
        }
    }
}

.nav-add:disabled {
    color: $text-muted !important;
}
