.nav-tabs {
    background: $dark-bg-gradient;
    border-bottom: 1px solid $border-color;
    border: 0 !important;
    margin: 0 !important;
    font-size: small !important;
    z-index: 1035;
    -webkit-app-region: drag;

    .nav-item {
        border: 0 !important;
        margin: 0 !important;
        font-size: small !important;

        &:first-child {
            margin-left: .5rem !important;
        }
    }

    .nav-link {
        border-top-left-radius: $border-radius-lg !important;
        border-top-right-radius: $border-radius-lg !important;
        color: var(--bs-secondary);
        padding: .25rem .75rem;
        border-bottom: 0 !important;
        -webkit-app-region: no-drag;

        &:not(.nav-add) {
            width: 200px !important;
        }

        &:hover,
        &:active {
            color: $primary !important;
        }

        &.active {
            background-color: transparent !important;
            color: $primary !important;
            border-color: $primary !important;
        }
    }

    .btn-electron {
        color: var(--bs-secondary);
        -webkit-app-region: no-drag;

        &:hover,
        &:active {
            color: $dark !important;
            background-color: $primary !important;
        }

        &.close:hover,
        &.close:active {
            color: $primary !important;
            background-color: $danger !important;
        }
    }
}

.nav-add:disabled {
    color: $text-muted !important;
}
